<h1>
  Completed Projects

  <%= link_to new_project_path, class: "btn btn-primary" do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New Project
  <% end %>
</h1>

<%= button_to "See Projects not Completed", { controller: 'projects', action: 'index' }, { method: :get } %>


<% @projects.each do |project| %>
  <h2><%= link_to project.name, project %></h2>
  <p>
    <%= project.description %>
  </p>
<% end %>
